<div class="diagonal">  </div>

<div class="body">

    <div class="left">
        <div>
            <h1 class="title1"> Build </h1>
            <p class="text1"> Unete-io is a simple and powerful library 
            that uses reflection for <b class="light"> creating </b>
            micro-services without messing with protocols. </p>
        </div>

        <div class="adelante">
            <h1 class="title2 "> Features </h1>
            <p class="text">  
                Your Micro-service is just an exposed JS Object!  

                Callback support through the network!  
                
                Connect to your Micro-service from the command line. <br> 
                
                Instant method mapping in the client side  
                
                Debug, start and monitor your service with unete-cli. 
            </p>
            <button class="button digth"> UneteIO — it’s Free<b class="light" > </b> </button>
        </div>
    </div>

    <div class="rigth">
        <div> <img  class="img" src="../../../assets/imagen, put animed.gif" alt=""></div>
        <div class="celdas">
            <div class="div">
                <h3 class="title3"> Me salí de la prepa</h3>
                <p class="par"> 
                    Unete-io is a simple and powerful
                    library that uses reflection for 
                    creating micro-services. GET STARTED
                </p>
            </div>
            <div class="div">
                <h3 class="title3" >Salí de la prepa</h3>
                <p class="par">  
                    Unete-io is a simple and 
                    powerful library that uses 
                    reflection for creating 
                    micro-services without 
                    messing with protocols. 
                </p>
            </div>
            <div class="div">
                <h3 class="title3">Salí de la prepa</h3>
                <p class="par">
                    Unete-io is a simple and powerful
                    library that uses reflection for 
                    creating micro-services. GET STARTED</p>
            </div>
        </div>
    </div>



</div>

