<div class="center" >

<div class="navbar">
    <div class="logo" >
        <a class="unete" href="">
      <img  class="size" src="../assets/unete.jpeg" alt="">
     {{ Lang.UneteIO }} </a>
    </div>
  
    <div class="items">
      <a class="blue" href=""> {{ Lang.Home  }} </a>  
    </div>
  
    <div class="items">
       <a class="blue" href=""> {{ Lang.Tutorial  }}  </a> 
    </div>
  
    <div class="items">
     <a class="blue" href=""> {{ Lang.Documentation  }}  </a>
    </div>
  <a class="blue items" href="">
    <div class="clearblue">
      <div>
        {{ Lang. Manager }} 
      <b class="thin"> {{ Lang.itsFree}} </b>
    </div>
    </div>
  </a>
  </div>

</div>
