<div class=" margin ">
    <div class="section1">   
        <div class="width-text"> 
            <h3 class="title title1">ME SALI DE LA PREPA LA</h3>
            <p class="p1"> 
                Connect to existing unete-io services as regular 
                JS ObjectsConnect to existing unete-io services as 
                regular JS ObjectsConnect to existing unete-io 
                services as regular JS Objects unete-io services as 
                regular JS Objects
            </p>
        </div> 
        <img class="image1" src="../../../assets/images/method-draw-image (4).svg" alt="computer-servidor">
    </div>

<hr>

    <div class="sectionSpecial section2">
        <img class="image2" src="../../../assets/images/image.png" alt="">
        <div class="width-text left"> 
            <h3 class="title" >ME SALI DE LA PREPA  </h3>
            <p> 
                Micro-services and APIs from any moduleMicro-services
                and APIs from any moduleMicro-services and APIs from
                any moduleMicro-services and APIs from any 
                modulem any moduleMicro-services and APIs from any  
            </p>
        </div>    
    </div>

<hr>

    <div class=" section1">
        <div class="width-text"> 
            <h3 class="title title1" >  ME SALI DE LA PREP </h3>
            <p class="p1">  
                Test and connect to your micro-service using the 
                command lineTest and connect to your micro-service 
                using the command lineTest and connect to your 
                micro-service using the command lineTest and connect
                to your ect to your micro-service using the command line 
            </p>
        </div>  
        <img class="image3" src="../../../assets/images/method-draw-image (3).svg" alt="">  
    </div>

<hr>

    <div class="section2">
        <img class="image4" src="../../../assets/images/undraw_online_transactions_02ka.svg" alt="">
        <div class="width-text"> 
            
            <h3 class="title left">   SALI DE LA PREPA </h3>
            <p>
                Watch the network and stdout using the logging 
                interfaceWatch the network and stdout using 
                the logging interfaceWatch the network and 
                stdout using the logging interface
            </p>
        </div>    
    </div>
</div>