
<div class=" page">
    <div>
        <h1 class="title1"> {{ Lang.focus}} </h1>

        <h3 class="title2"> {{ Lang.UneteTake }} </h3>
 
        <button class="button1"> 
            {{ Lang.Manager }} <b> {{ Lang.itsFree }} </b>
        </button>
    </div>


    <div> 
        <img class="interactive-image" src="../../../assets/images/gif-page-provisional.gif" alt="code pages">
    </div>

</div>
<div class="logos">
    <img class="logo"  src="../../../assets/dexxx.png" alt="">
    <img class="logo"  src="../../../assets/dexxx.png" alt="">
    <img class="logo"  src="../../../assets/dexxx.png" alt="">
    <img class="logo"  src="../../../assets/dexxx.png" alt="">
    <img class="logo"  src="../../../assets/dexxx.png" alt="">
</div>

